<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


        <servlet>
            <servlet-name>GetPhenotype</servlet-name>
            <servlet-class>com.servlet.GetPhenotype</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>SetPhenotype</servlet-name>
            <servlet-class>com.servlet.SetPhenotype</servlet-class>
        </servlet>





        <servlet-mapping>
            <servlet-name>GetPhenotype</servlet-name>
            <url-pattern>/GetPhenotype</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>SetPhenotype</servlet-name>
            <url-pattern>/SetPhenotype</url-pattern>
        </servlet-mapping>





    <welcome-file-list>
            <welcome-file>index.html</welcome-file>
        </welcome-file-list>

</web-app>